APP_ENV=development
APP_PORT=3000
TEST_DB_HOST=pgsqldb
DATABASE_URL=postgresql://neondb_owner:npg_zE1Hk7gqcoPU@ep-silent-star-an4yyqd0-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
DB_HOST=pgsqldb
DB_PORT=5432
DB_NAME=example_db
DB_USER=root
DB_PASS=example
JWT_ACCESS_TOKEN_EXP_IN_SEC=3600
JWT_REFRESH_TOKEN_EXP_IN_SEC=7200
JWT_PUBLIC_KEY_BASE64=
JWT_PRIVATE_KEY_BASE64=
DEFAULT_ADMIN_USER_PASSWORD=admin-example
CHAPA_BASE_URL=https://api.chapa.co/v1
CHAPA_PUBLIC_KEY=CHAPUBK_TEST-9IrQreGQuMN0VvakFXo1me4OhnZ82Gv3
CHAPA_SECRET_KEY=CHASECK_TEST-nlCF26UGAshYeA3jBqlk5nMMR0xcZI9C
CHAPA_ENCRYPTION_KEY=wkj9lhmS2SvmrPPSairqSao1
CHAPA_WEBHOOK_SECRET=CHASECK_TEST-nlCF26UGAshYeA3jBqlk5nMMR0xcZI9C
CHAPA_CALLBACK_URL=http://localhost:3000/api/v1/donations/webhooks/chapa
CHAPA_RETURN_URL=http://localhost:3000/donations/return
